.button
  appearance none
  color var(--color-white)
  text-align center
  background-color var(--color-button)
  border-radius var(--border-radius-small)
  transition background-color var(--transition-duration-out)
  +hover()
    background-color var(--color-button-hover)
    transition-duration var(--transition-duration-in)
