mixin pagination()
  ul.pagination
    li.pagination__item.pagination__item--prev: a(href='').pagination__link назад
    li.pagination__item: span(class='pagination__link pagination__link--active') 1
    - i = 2
    while i <= 5
      li.pagination__item: a(class='pagination__link', href='') !{i}
      - i += 1
    li.pagination__item.pagination__item--next: a(href='').pagination__link вперед
    
