.pagination
  display flex
  align-items center
  &__item
    position relative
    & + &
      padding-left 0.625rem
  &__link
    display flex
    align-items center
    padding 0.375rem 0.625rem
    line-height 1
    border-radius 6px
    transition color var(--transition-duration-out)
    &:not(&^[0]__link--active)
      +hover()
        color var(--color-button-hover)
        transition var(--transition-duration-in)
    &--active
      color var(--color-white)
      background-color var(--color-button)
