.form-input
  display block
  &__field
  &__select
    display block
    padding 1rem
    width 100%
    font-family var(--font-family-primary)
    border 1px solid var(--color-border)
    border-radius var(--border-radius-small)
    textarea&
      height 160px
      resize none
    &::placeholder
      font-family var(--font-family-primary)
      color var(--color-text-secondary)
  &--textarea
    width 100%
