extends /blocks/layout/layout

include /blocks/container/container
include /blocks/content/content
include /blocks/page-section/page-section
include /blocks/text-marked/text-marked
include /blocks/block-marked/block-marked
include /blocks/list-item/list-item
include /blocks/list-unordered/list-unordered
include /blocks/icon-block/icon-block
include /blocks/form-input/form-input

block head
  -
    const pageTitle = `${siteName}`
    const pageDescription = ''
    const pageKeywords = ''
    const resourcesName = 'home'
block content
  +pageSection({ topIndent: true }).text-align-center
    h1 docpomog.ru
    +textMarked({ tag:'p', size: 'm', color: 'grey' }) Поиск эффективных докторов
  +pageSection 
    .block-marked
      p Я&nbsp;&mdash; #[strong бесплатный] робот-консультант, отвечающий на&nbsp;запросы, касающиеся вашего здоровья и&nbsp;использующий технологии искусственного интеллекта.
      p Моя цель&nbsp;&mdash; помочь пациентам #[strong получить информацию] о&nbsp;симптомах, возможных причинах заболевания и&nbsp;вариантах лечения, а&nbsp;также предоставить рекомендации, которые могут помочь пациенту.
  +pageSection({ noContent: true }): +content(class= grid({ alignItems: 'center' }))
    +textMarked({ tag:'span', size: 'm'})(class= cell({ m:3, s:6 })).text-align-center #[strong Даю подробные #[br] ответы]
    +textMarked({ tag:'span', size: 'm'})(class= cell({ m:3, s:6 })).text-align-center #[strong Не&nbsp;хамлю #[br] и&nbsp;не&nbsp;перебиваю]
    +textMarked({ tag:'span', size: 'm'})(class= cell({ m:3, s:6 })).text-align-center #[strong Проявляю #[br] сочуствие]
    +textMarked({ tag:'span', size: 'm'})(class= cell({ m:3, s:6 })).text-align-center #[strong Работаю 24х7]
  +pageSection({ noContent: true }): +content.home-consultation
    a(href='#').button.home-consultation__button Начать консультацию
    .home-consultation__inner
      p Я&nbsp;робот-консультант, буду рад ответить на&nbsp;ваши вопросы, касающиеся здоровья. Напишите, что вас беспокоит. Пожалуйста, придерживайтесь данной схемы:
      +ul
        +li Пол и&nbsp;возраст пациента
        +li Ранее перенесенные болезни (если они могут связаны с&nbsp;вашим вопросом)
        +li Симптомы болезни пациента, как давно они возникли
        +li Состояние пациента на&nbsp;данный момент
        +li Проводились&nbsp;ли уже какие-нибудь лабораторные исследования? Если&nbsp;да, то&nbsp;какие результаты исследований. Обязательно указывайте единицы измерения, в&nbsp;которых приведены результаты анализов.
        +li Назначалось&nbsp;ли лечение? Если назначалось&nbsp;то, какими препаратами? В&nbsp;каких дозах?
        +li Каков эффект от&nbsp;проведенного лечения?
        +li Вопрос к&nbsp;консультанту.
      form.home-consultation__form
        +formInput({ type: 'textarea' })
        button(type='submit').button Отправить
  +pageSection
    +iconBlock({ attention:true })
      p Не является медицинской услугой. Ответы робота-консультанта несут исключительно информационный характер и не являются медицинским назначением. История переписки не сохраняется и полностью анонимна.
  +pageSection({ bottomIndent: true }).text-align-center
    p #[a(href='/').link Пользовательское соглашение] #[ | ] #[a(href='/').link Политика по&nbsp;обработке персональных данных]
