extends /blocks/layout/layout

include /blocks/container/container
include /blocks/content/content

block head
  -
    const pageTitle = `${siteName}`
    const pageDescription = ''
    const pageKeywords = ''
block content
  +container: +content
    ul
      li: a(href='home.html') home.html
      li: a(href='search.html') search.html
