.home-consultation
  display grid
  grid-template-rows min-content 0fr
  gap 0
  justify-items center
  transition-property grid-template-rows, gap
  transition-duration var(--transition-duration-out)
  &--active
    grid-template-rows min-content 1fr
    gap calc(var(--gap)*2)
    transition-duration var(--transition-duration-in)
  &__inner
    display flex
    flex-direction column
    gap 1rem
    max-width 780px
    overflow hidden
  &__form
    display flex
    flex-direction column
    gap 1rem
    align-items center
