a
  text-decoration none
  &.link
    color var(--color-text-secondary)
    // text-decoration underline
    transition color var(--transition-duration-out)
    +hover()
      color var(--color-button-hover)
      transition-duration var(--transition-duration-in)
