.doctor-results
  &__item
    display flex
    gap var(--gap)
    padding-y 2rem
    border-bottom 1px solid var(--color-border)
  &__name
    display inline-block
    margin-bottom 0.25rem
    font-weight 700
    font-size 1.25rem
    line-height 1.25
  &__specialization
    margin-bottom 1.5rem
  &__image
    display flex
    width 200px
    height auto
    border 1px solid var(--color-border)
    border-radius var(--border-radius-big)
