extends /blocks/layout/layout

include /blocks/container/container
include /blocks/content/content
include /blocks/page-section/page-section
include /blocks/text-marked/text-marked
include /blocks/block-marked/block-marked
include /blocks/icon-block/icon-block
include /blocks/form-input/form-input
include /blocks/img/img
include /blocks/pagination/pagination

block head
  -
    const pageTitle = `${siteName}`
    const pageDescription = ''
    const pageKeywords = ''
    const resourcesName = 'search'
block content
  +pageSection({ topIndent: true }).text-align-center
    h1 docpomog.ru
    +textMarked({ tag:'p', size: 'm', color: 'grey' }) Поиск эффективных докторов
  +pageSection 
    .block-marked
      h2.text-align-center Поиск врача, который поможет
      +grid({ tag: 'form' }).p
        +formInput({ type: 'text', placeholder: 'Название заболевания' })(class= cell({ s:9 }))
        button(type='submit' class= cell({ s:3 })).button Найти
  +pageSection({ noContent: true }): +content.doctor-results
    p.doctor-results__count Найдено: 34 врача
    -
      const doctors = [
        {
          name: 'Останин Матвей Павлович',
          specialization: '<strong>Гастроэнтеролог</strong> Диетолог Терапевт',
          experience: 'Стаж 17 лет',
          category: 'Врач высшей категории <br> Кандидат медицинских наук',
        },
        {
          name: 'Кузнецова Анна Владимировна',
          specialization: '<strong>Гастроэнтеролог</strong> Диетолог Терапевт',
          experience: 'Стаж 31 год',
          category: 'Врач высшей категории',
        },
        {
          name: 'Кузнецова Анна Владимировна',
          specialization: '<strong>Гастроэнтеролог</strong> Диетолог Терапевт',
          experience: 'Стаж 31 год',
          category: 'Врач высшей категории',
        },
        {
          name: 'Кузнецова Анна Владимировна',
          specialization: '<strong>Гастроэнтеролог</strong> Диетолог Терапевт',
          experience: 'Стаж 31 год',
          category: 'Врач высшей категории',
        },
        {
          name: 'Кузнецова Анна Владимировна',
          specialization: '<strong>Гастроэнтеролог</strong> Диетолог Терапевт',
          experience: 'Стаж 31 год',
          category: 'Врач высшей категории',
        },
        {
          name: 'Кузнецова Анна Владимировна',
          specialization: '<strong>Гастроэнтеролог</strong> Диетолог Терапевт',
          experience: 'Стаж 31 год',
          category: 'Врач высшей категории',
        },
      ]
    +grid({ noGap: true })
      each item in doctors
        +cell({ m:6 }).doctor-results__item
          +img({
            name: 'doctor-1',
            path: '/images/',
            formats: [
              { ext: 'webp', type: 'image/webp' },
              { ext: 'jpg', orig: true }
            ],
          }).doctor-results__image
          .doctor-results__inner
            a(href='/').link.doctor-results__name !{item.name}
            .doctor-results__specialization !{item.specialization}
            .doctor-results__experience !{item.experience}
            .doctor-results__category !{item.category}
  +pageSection({ bottomIndent: true })
    +pagination
