:root
  --font-family-primary 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  --color-text #424242
  --color-text-secondary #79859D
  --color-bg #E2F1FF
  --color-white #ffffff
  --color-button #6798E1
  --color-button-hover #5883c3
  --color-red #DE4256
  --color-border #E6E6E6

  --border-radius-small 10px
  --border-radius-big 16px

  --transition-duration-out .3s
  --transition-duration-in .1s
