.icon-block
  --icon-size calc(var(--gap)*2)
  display flex
  align-items center
  gap 1rem
  +before()
    width var(--icon-size)
    height var(--icon-size)
    flex-shrink 0
    mask-image var(--before-background-image)
    mask-repeat no-repeat
    mask-position center
    mask-size contain
    background-color var(--color-red)
  for icon in attention
    &--{icon}
      --before-background-image maskImage(icon, common)
